[2012-11-27 08:04] NullOrNaN opened #1 "Check for ionotify in path"
I have noticed that this script doesn't make sure that it cannot find the ionotifywait in the $PATH variable so that we can be sure that it's available for use, and if not alert the user.  Possibly do this in a secondary script so that it doesn't have to be run on every use.

[2012-11-27 11:15] lehnerpat opened #3 "Add --usage/-h/--help switches"
By now a usage/help page is probably quite useful; since there are more things to be added in the future (greater per-use customizability), this is a must.

[2012-11-27 19:22] #1 closed, assigned to nobody

[2012-11-28 07:42] nevik opened #5 "Add option to include a (truncated) diff in the commit message"
As implemented in a one-shot version at ibrahima/gitwatch@0163ec5, and pointed out by @ibrahima in the comments on that commit, it could be nice for some use cases to have the chance to include the diff in the commit message.

Leaving out things like file name, and truncating it to the standard 80-char max length of git "short" commit messages, that should go neatly with changes that usually only

[2012-11-28 20:41] #3 closed, assigned to lehnerpat

[2012-12-01 00:02] lehnerpat opened #7 "Add switch for wait time after a change is seen"
Currentlly, the script has a hard-coded wait time of 2 seconds after `inotifywait` reports a change. This should be customizable with a switch

[2012-12-01 00:05] lehnerpat opened #8 "Add switch to customize commit message without touching the script's code"
Currently, the only way to customize the commit message used by the script is by editing the file. To allow for per-call customization, this should be changeable via a command line switch.

[2012-12-02 12:02] lehnerpat opened #9 "Add possibility to `git repack` after a certain number of commits"
Depending on the use-case, there might be relatively many commits happening with many changes that blow up the repo quite a bit. A `git repack -ad` (and possibly other switches) will help here, making use of delta compression by looking at the blobs in the history as one big thing, and not just adding new hunks as they come in.

This could be done with a cronjob, but sometimes it might be convenie

[2012-12-02 14:43] lehnerpat opened #10 "Add "verbose" switch"
Add a -v switch that makes the script act verbosely (mostly used for debugging of course), outputting things like which push remote and branch were selected (if any), if the target is recognized as a file or folder, etc.

[2012-12-03 21:33] lehnerpat opened #12 "Add `dirname` and `basename` functions (util)"
As @datag pointed out in #11, it's neat to use bash builtins to reformat the paths, instead of the external commands `dirname` and `basename`.

However, the bash builtin code for these transformations is rather ugly, so they should be placed in so-named functions.

Additionally, the implementation of `dirname` @datag first suggested does not cover all cases of input strings, sometimes wrongly retu

[2012-12-06 22:28] datag opened #13 "Not all relevant events are detected"
Asking `inotifywait` without event `create` does not detect directory creation and none of the files created within it (at least on my system (which uses inotify-tools-3.13).

Also, you may add the event `move_self` (or just `move` to get to/from) to detect files moved out of the watched directory. E.g., watched directory is `/foo/` and you move file `/foo/bar` into `/tmp/`.

[2012-12-06 22:50] nevik opened #14 "Fix inotifywait usage to use one process, not re-create new ones all the time"
Gitwatch currently spawns a new `inotifywait` process every time it waits for changes, not making use of the command's "continuous" option. This might cause an unnecessary amount of load when big folders (i.e. with many files) are watched recursively, because when `inotifywait` starts, it needs to establish inode watchers for each file in the watched scope.

A more efficient way to do it might be

[2012-12-14 21:27] lehnerpat opened #15 "Fix -b switch to affect which remote branch is used -- local should always be active"
The -b switch currently produces a push line like `git push <remote> <branch>`. This is rather pointless, since commits will always be made to the active (checked out) branch.

The behaviour of the switch should thus be modified to affect the remote branch only, i.e. `git push <remote> <active branch>:<branch>` where `<active branch>` is filled in automatically by the script.

[2013-11-13 10:12] #7 closed, assigned to lehnerpat

[2013-11-13 10:12] #8 closed, assigned to nobody

[2013-11-13 10:12] #15 closed, assigned to nobody

[2014-07-02 12:59] PhilT opened #18 "more portable --exclude"
It seems http://linux.die.net/man/1/inotifywait specifies --exclude <pattern> rather than --exclude=<pattern> but this might not be an issue.

However, related to this is specifying the .git folder to exclude. At least on inotify-win you can simply do `--exclude .git` and it works. I'll try to test on linux when I can but I've not setup my new linux vm yet.

[2014-07-07 07:30] nevik opened #20 "Fix exclusion regexp (pending reaction from inotify-win devs)"
The problem with the regexp not working as discussed in #18 has to do with how `inotify-win` matches pathnames against the exclusion regexp (which is different from Linux `inotifywait`).

I've brought this up in thekid/inotify-win#11 and we can discuss further steps once the devs there have responded about whether they want to improve compatibility with Linux `inotifywait`.

[2014-07-07 07:31] #18 closed, assigned to nobody

[2014-07-17 12:38] holgerdell opened #21 "Changes in .git/ are detected erroneously"
In my version of bash (4.3.11) on Ubuntu, the script detects events inside the .git/ directory, even though it should ignore them. I figured out that the escaping of the quotation marks in the following line is the problem:

[code]

The inner quotation characters do not get interpreted by bash - they get passed to inotifywait. I recommend replacing the call of $INCOMMAND with the unescaped command

[2014-11-24 15:26] nevik opened #24 "Some testing to graduate current commits in devel branch"
We need some testing to make sure the current commits in our devel branch are working properly.

Since I only have a very limited use-case for gitwatch myself at the moment, testing is very tedious for me (and limited to contrived examples, which may not find any unexpected problems).

I'd appreciate it if other people who have been using the devel branch or are willing to do so would report back

[2015-03-04 19:10] andykillen opened #25 "git add -u"
Perhaps it is ideal to add in a

[code]

so that the system will also automatically delete files as well as add them.

[2015-03-24 08:44] nevik commented on #25
Yes, that's a good idea indeed. It has of course the caveat that files that are deleted and then recreated (with such a time between them that the script is run at least once) are not re-added.

I'll add it to the `devel` branch, but I cannot currently test the script, so it will remain in there for a while :)

[2015-03-24 18:59] gustavkarlsson opened #26 "Spaces in paths aren't supported"
Running gitwatch on a path with spaces in it breaks the script.

*Example:*
[code]
Then follows an endless loop of failed watches and adds.

[2015-05-13 09:44] pkra commented on #25
@nevik I think the fix causes a small problem. I got `fatal: -A and -u are mutually incompatible` when testing `develop`.

[2015-06-07 09:28] nevik commented on #25
@pkra Thanks for pointing that out.

This is a bit annoying -- it's related to the fact that gitwatch is still using the `--all` flag for `git add`, which is being auto-rewritten as `-A` since a few versions ago.

We should review the current behavior of `git-add` and update the script accordingly.

Sadly, I don't currently have time to do this :/

Help is very welcome!

[2015-06-07 09:30] nevik commented on #26
Thanks for reporting this.

I *thought* I had tested the script with spaces back when I wrote it. Apparently I did a bad job (or something has changed).

Which version of the script (i.e. which commit) are you using?

[2015-06-07 09:38] nevik commented on #26
@gustavkarlsson I just applied a quick-fix, please try using this revision: [`feature/fix-paths-with-spaces` branch](https://github.com/nevik/gitwatch/tree/feature/fix-paths-with-spaces).

I can't currently test the changes (not on a Linux machine). If they don't work, I'll have to fire up a VM and properly look into it.

[2015-06-07 09:48] nevik commented on #21
@holgerdell is this still an issue for you? If so, please try to describe it again, otherwise I'm closing this issue.

[2015-06-07 13:33] holgerdell commented on #21
I didn't get gitwatch to work reliably, so I switched to my own inotify-based script.

[2015-06-07 13:33] #21 closed

[2015-06-07 15:02] gustavkarlsson commented on #26
@nevik Seems to be working now!
I was using e32387152a5eae36213a2763aaecb130944594e8

[2015-06-08 14:47] nevik commented on #26
Alright, then I'm closing this issue for now.

If you have problems with the `devel` branch, please make sure you're using its newest revision, and report it in a new issue if it persists ;)

[2015-06-08 14:47] #26 closed

[2015-09-18 14:39] glensc opened #28 "add separate working dir support"
i was writing similar script like you have, and was thinking what to name it, so i found your tool instead :)

however, i intended to use separate .git dir from monitored dir: http://stackoverflow.com/a/3987863
as my code rsynced data from source dir to work dir using --exlude patterns, and doing git add -A . and git commit.

and with that pattern, the .git dir would be deleted with each rsync cal

[2015-10-25 15:30] elouann opened #29 "Syntax error: redirection unexpected"
Hi,

I'm getting the following error when starting gitwatch:

Any hint ?

Cheers,
~ elouann

[2015-10-25 15:57] elouann commented on #29
I got it: one have to use `bash gitwatch.sh` instead `sh gitwatch.sh`, because gitwatch is using 'process substitution', which is a [feature of bash that is disabled when it is run as sh](https://stackoverflow.com/a/18778100).

[2015-10-25 15:57] #29 closed

[2016-06-21 14:24] riban opened #31 "Script stops checking after several hours"
Hi.

I have git watch watch a directory that doesn't get much usage, maybe every few days a new file will be placed in that directory. I have found that after about a day or so git watch and inotifywait are still running but any new files don't get picked up. I have to kill the process and restart, and even then any added files don't get added until the next file is added.

[2016-10-14 13:47] ttnnkkrr opened #36 "redirection unexpected"

[2016-12-03 10:43] novoid opened #37 "Missing: How to Exclude Files"
Hi!

I wonder how I can exclude certain files to get committed which are already part of `.gitignore`.

The Readme does not mention anything like this and I don't want to patch `gitwatch.sh` to exclude my files hardcoded.

Command line parameters or just silently taking `.gitignore` into account would be very helpful.

[2017-08-06 18:47] nevik opened #40 "Looking for maintainer(s) for gitwatch"
Hey everyone!

Even though I have been inactive for a good while now, I love seeing that gitwatch is still useful to many people, and not few of you have added changes and fixes in your own forks!

As you may have expected, I have abandoned this project, mostly because I have not been using it myself for years at this point. Currently I don't have the time or interest to maintain or develop this p

[2017-08-06 18:54] nevik commented on #40
I'm going to mention some people with recent forks/contributions to pull them into this conversation

To everyone I mention: If you're not interested in taking over gitwatch project maintenance, feel free to ignore this thread!

@bauerjj @dmusican @mnmly @sial-ari @davenquinn @nils-tekampe @btaratutin @jamietanna @ebellani @AndrewS-Vbosch @azollyx @oleg-schmidt @salanki @miguelarauj1o @jwerle

[2017-08-06 18:56] nevik commented on #40
Also mentioning former contributors, just for completeness :)

To everyone I mention: If you're not interested in taking over gitwatch project maintenance, feel free to ignore this thread!

@datag @eidolonnight @MatthewM @aseques @egidijus

[2017-08-07 02:18] miguelarauj1o commented on #40
`gitwatch` it's great! I think that contributors should have priority, but if nobody wants, I'm here to help in some way.

[2017-08-07 13:28] dmusican commented on #40
I discovered gitwatch pretty recently It's been REALLY useful for me. I'd hate to see it die. I also managed to quickly bang out a small modification to make it work for Mac in my fork, which I also successfully used. I'm not expressly looking to take on ownership, as I've got a lot of other projects keeping me busy, but I'm willing to help out in some way. I think I'm in the same position as @mig

[2017-08-10 23:28] miguelarauj1o commented on #40
@nevik, any news?

[2017-08-11 13:43] nevik commented on #40
Ah! Sorry for the late reply.

@dmusican @miguelarua1jo I was hoping for some more reactions, but it seems this is it for now.

Since you both don't want to fully take over the project maintenance (which I totally understand), I'd suggest the following as an interim solution:

We create a GitHub organization account with the three of us as co-owners, and transfer the repo ownership to that org.

T

[2017-08-11 13:56] miguelarauj1o commented on #40
LGTM.

If @dmusican and/or you don't want it, I can takeover the project maintenance.

[2017-08-11 18:52] nevik commented on #40
Cool :)

Unfortunately, the account name "gitwatch" is already in use :(

Since that account seems to have been inactive (publicly), I just sent a request to GitHub support, asking to be granted the account name for a new org account.
It's not a sure thing (partly because the account may have been used for private activity), but it's worth a short, since GH has a clause that accounts are intended

[2017-08-11 19:14] miguelarauj1o commented on #40
Otherwise I would take over the project maintenance and add you and @dmusican as co-owners. You decide.

[2017-08-11 20:18] nevik commented on #40
good news! the quick OctoCats at GitHub support freed up the name for us, and we now have an org called @gitwatch :D

i've invited both of you to join the org, and will promote you to owners once you've done so.

I'll also transfer repo ownership this weekend (it's somewhat late, and I just created the org so someone else wouldn't snatch the name away from us again)

[2017-08-11 20:21] miguelarauj1o commented on #40
Great!

[2017-08-13 08:43] nevik commented on #40
It is done!

The org is set up, the repo has been transferred to the org, and @miguelarauj1o has been granted owner access to the org :)

@dmusican has not accepted the invitation to join the org yet.
@dmusican: If you're still interested, please join, then @miguelarauj1o can promote you to owner as well ;) If you'd rather not join the org, or would like to join but not take on the co-owner role,

[2017-08-13 08:47] nevik commented on #40
@miguelarauj1o: Since this means I'm kinda transitioning out of the maintainer role for gitwatch, here are some points I'd ask you to do/consider:

* Please change the "billing" email address of the org to one that you control (it's currently set to mine). The org uses a free plan, so nothing is billed, but GH requires the field to be a valid email, and I'd like to avoid getting bills to my email

[2017-08-13 11:37] miguelarauj1o commented on #40
1. done!
2. Let's keep this conversation open for a while.
3. Yes, we should! Maybe IRC channel?
4. I'll start today

thanks for all effort to keep `gitwatch `alive.

[2017-08-13 11:44] nevik commented on #40
Cool! Glad to see you're fired up for this :)

I'd prefer [Gitter](https://gitter.im) or Slack, since they make it easier for people to join who aren't familiar with IRC.

[2017-08-13 16:22] salanki commented on #40
Great initiative @nevik. I'm glad to finally be able to get some of our PRs merged! In an attempt to help @miguelarauj1o in his new role I went through all PRs and added some input. Hopefully it is helpful!

[2017-08-14 01:02] miguelarauj1o commented on #40
Nice! thanks for the support @salanki.

[2017-08-14 11:07] dmusican commented on #40
Thanks, @nevik; I've accepted the invitation.

@miguelarauj1o, thanks for being proactive. I would love to have you actually be owner and I would simply help out as needed. Based on the timing of the posts above, it should hopefully already be clear that you've likely got more time to do this than I do. :) I'd be happiest to keep a status as maintainer and help out as I best can, but if it is your

[2017-08-14 13:43] jwerle commented on #40
@salanki @nevik I'd love to help out however I can :]

[2017-08-15 00:44] ajthemacboy commented on #40
Looking forward to an active version of gitwatch! I just discovered it recently and it has been tremendously useful.

[2017-08-15 00:47] ajthemacboy commented on #40
I'd also like to add that I think it'd be very useful if the commit descriptions had information about the file(s) changed; either a list of modified files, the number of modified files, or something else.

[2017-08-15 01:20] AndrewS-Vbosch commented on #40
That should be in its own issue, @ajthemacboy, or a more detailed comment on issue #5.

[2017-08-17 01:59] miguelarauj1o commented on #40
@dmusican, it's nice to have you onboard.

@jwerle, great, help is always welcome. By now, I'll search for bugs before I start implementing new features. Also, we need to create a great wiki, as you can see, there is almost nothing. Can you help me with this?

@ajthemacboy, I agree one hundred percent. I've plans to include what you said in the next release.

[2017-08-17 21:26] miguelarauj1o commented on #36
closed due to lack of information

[2017-08-17 21:26] #36 closed

[2017-08-17 21:33] miguelarauj1o commented on #31
Hey @riban, this problem persist?

[2017-08-17 21:49] miguelarauj1o opened #41 "Logo for gitwatch org"
Hey guys, we need a logo for `gitwatch` org.
**This is not urgent**, but it's cool to give a face to the org.
Any ideas to help define the logo?

**CC** @nevik, @dmusican, @salanki, @jwerle, @ajthemacboy and @AndrewS-Vbosch.
Feel free to ignore this thread if you don't have time.

[2017-08-18 13:27] jwerle commented on #41
maybe something combining these two images :]

![](https://avatars1.githubusercontent.com/u/18133?v=4&s=400)
![](https://openclipart.org/download/253004/A-simple-magnifying-glass-Wachin.svg)

[2017-08-18 19:28] ajthemacboy commented on #41
I'm the last person on this planet who should be doing graphic design, but here's something building on @jwerle's idea: https://goo.gl/photos/WZHwfnCcfSbNVJqz9

[2017-08-18 22:14] miguelarauj1o commented on #41
Great, I like it. But I think that we can do even better.
Today I was thinking that gitwatch in future release should be a cross-platform tool.
Can you imagine how amazing gitwatch  could be?

What do you guys think of changing **gitwatch** to **watch**?
It's more straightforward for me (organization continues the same).
Ex.:
from

to

If we agree in **watch**, what guys do if think in use the git

[2017-08-19 07:38] sebastianopilla commented on #41
**watch** is already a well-known Unix command (`man watch`) so it's really not a good choice.

[2017-08-19 10:11] ajthemacboy commented on #41
I think we should stay with gitwatch too. watch sounds too generic.

[2017-08-21 17:30] azollyx commented on #40
Sorry for the late reply... my main computer was broken...
I think it's the same as almost every body: I use gitwatch on a daily
basis; it's very useful.
I would very glad to help but I'm not sure I'll have time.

Regards,
Rémy.

2017-08-17 3:59 GMT+02:00 Miguel Araújo <notifications@github.com>:

[2017-08-21 17:31] azollyx commented on #40
Sorry for the late reply... my main computer was broken...
I think it's the same as almost every body: I use gitwatch on a daily
basis; it's very useful.
I would very glad to help but I'm not sure I'll have time.

Regards,
Rémy.

2017-08-17 3:59 GMT+02:00 Miguel Araújo <notifications@github.com>:

[2017-08-22 11:17] dmusican commented on #41
Agreed that the name `watch` is too easily confused with other things.

I like the logo idea!

[2017-08-22 23:23] miguelarauj1o commented on #40
Since I became `gitwatch` member without multiple contributions, I think everyone in this thread should be added as member too. So, I sent an invitation to @salanki, @AndrewS-Vbosch, @jwerle, @ajthemacboy and @azollyx.

Hey guys, let's make `gitwatch` better than ever.

[2017-08-23 03:07] AndrewS-Vbosch commented on #40
I appreciate the invite, but my contribution was 12 months ago and was never merged. I don't use this software, anyway. IIRC the system I was looking at this for, just runs something like `git -A;git commit -m "auto"; git push` in a cron job.

[2017-09-11 14:24] enrh commented on #41
I agree. Maybe even GitWatchCommit. Originally I came across your project looking for something that could also pull down updates.

[2017-10-13 14:13] aggsol commented on #25
Is there a solution for this now?

[2017-12-14 10:53] aseques commented on #40
Hello, I'm one of the past contributors to gitwatch (@aseques), and I'll be able to invest some time into this and I need some features too. Could you add me to the mantainers list?

[2018-01-02 14:09] Alwaysin opened #45 "Exclude swap files"
The title is self-explanatory : I'd like to be able to exclude swap files from push, because it makes a lot of unwanted commits.

I tried adding

--exclude=\"^${TARGETDIR}/*.swp\"

or changing to

--exclude=\"^${TARGETDIR}/.git|^${TARGETDIR}/.swp\"

But it doesn't seem to work, maybe the regexp is wrong?

[2018-03-17 13:28] elnull commented on #45
It would be much better to use .gitignore and check status before trying to commit. Here is my way to do it:
https://github.com/elnull/gitwatch/commit/c9f4b43b6c8a3dfe077f169c723c00b3d2840072

[2018-03-17 21:41] novoid commented on #45
I also copy that: gitwatch has to respect .gitignore content for not committing. It is a constant pain otherwise. The only option is to manually synchronize .gitignore with all calls of gitwatch :-(

[2018-03-18 07:30] elnull commented on #45
Since I use external git bare repository for auto commits (with --git-dir option) I don't place .gitignore in watched directory.

[2018-05-23 13:52] hongkongkiwi opened #48 "Outstanding Pull Requests"
Hi there,

It looks like there are a lot of outstanding pull requests. Is it possible to merge them where appropriate? It would be great to get a "master" version of this project with all the changes in it.

[2018-06-20 07:16] aggsol commented on #48
Is anyone maintaining it or should we fork it???

[2018-06-20 07:19] aggsol commented on #45
Can we please merge the solution from @elnull to master?

[2018-06-20 07:21] aggsol commented on #40
So, who is maintaining this now?

[2018-06-21 11:01] dmusican commented on #40
I'm not sure who's maintaining it at this point. That all said, I'm willing to take it on. I'm not a contributor yet, but if @nevik is still out there: go ahead and assign me as owner if no one else is doing so.

[2018-06-21 19:43] nevik commented on #40
@dmusican hah, thanks for the ping. turns out, the org wasn't set up yet to give its members admin access to the project. should be fixed now, let me know if there's still anything you can't access.

thanks for taking this over!

[2018-06-23 11:28] #40 closed

[2018-06-23 11:33] dmusican commented on #48
I've just agreed to take on maintaining this project, and will get to the pull requests soon. This is a side project for me and so I can't promise instant availability or anything like that, but I'll be able to make progress on these. My plan is to start digging out from under the heap of pull requests one at a time as I can during the upcoming week. But I'm glad to be doing this: I find gitwatch

[2018-07-10 13:16] dmusican commented on #37
I think this recent merge should address this issue:

https://github.com/gitwatch/gitwatch/pull/44

I'm closing this issue because I believe that to be the case, but if that's wrong, reply and I'm happy to re-open it.

[2018-07-10 13:16] #37 closed

[2018-07-10 13:19] dmusican commented on #31
This bug is two years old, without update or confirmation. I'm going to close it, but if @riban or someone else can confirm that this issue still exists, I'm happy to re-open.

[2018-07-10 13:19] #31 closed

[2018-07-10 15:33] dmusican commented on #45
Does the below fix, which has now been merged in to master, in solve this problem? It uses git status, which should be observing .gitignore.

https://github.com/gitwatch/gitwatch/pull/44

[2018-07-10 15:38] dmusican commented on #20
This hasn't been looked at in a long time; help would be welcome if someone wants to take this on.

[2018-07-10 15:41] dmusican commented on #14
It would be wonderful if someone could help test this and other features in the develop branch.

[2018-07-10 15:43] dmusican commented on #13
It would be great if someone could volunteer to test this fix.

[2018-07-10 15:47] dmusican commented on #5
It looks like some significant progress was made on this. If someone wants to revisit this and get it wrapped up and finished, I'd be happy to consider merging in.

[2018-07-10 16:09] dmusican commented on #24
I use gitwatch fairly regularly, and would be happy to try out the develop branch. Currently, it has fallen pretty far behind master, and master needs to be merged back in and conflicts need to be fixed. Help would be welcome in taking this on.

[2018-07-15 19:46] novoid commented on #37
I can confirm that the most current git version of gitwatch does respect my `.gitignore` entries after I did `git rm -r --cached . && - git add .`.

[2018-10-06 13:14] ghost opened #51 "macOS support using fswatch instead of inotifywait"
Apparently, my macOS doesn't use inotifywait but there is a package on macports named fswatch.

Could this be built in to use its syntax please.

[2018-11-30 20:22] #14 closed

[2018-11-30 20:22] #25 closed

[2018-11-30 20:23] dmusican commented on #25
I've removed the -u. It conflicts with -A (--all), and appears to be unnecessary as the documentation indicates for git 2.0 indicates that -A will remove anyway. I've confirmed via a test script as well as my own informal experimentation that with git 2.7.4, deleted files are removed.

And devel is finally merged in!

[2018-12-09 00:49] mlncn commented on #5
I'm actually looking for something similar, but want to *only* include the filename in the commit message.  That's probably easier or there might already be a way to do that?

[2018-12-21 23:36] DeKubus commented on #45
Did something go wrong during the merging of #44 ? The changes are not included in the current versions of the script.

[2018-12-30 04:54] shervinemami commented on #5
@dmusican I also want this feature, so I implemented it and created a pull request against your latest master branch for it: https://github.com/gitwatch/gitwatch/pull/54
Also, since you can set the number of lines that are displayed as a "git diff" vs "git diff --stat", using "-l 1" will cause the functionality someone tried implementing in an old pull request https://github.com/gitwatch/gitwatch/

[2018-12-30 05:01] shervinemami commented on #5
@mlncn  If you try my pull request https://github.com/gitwatch/gitwatch/pull/54 (`git fetch origin pull/54/head:pr-54 && git checkout pr-54`), you should be able to see the filenames (with a graph of the changes) as the commit message by using `gitwatch -l 1 ~/myproject`.

[2018-12-31 22:04] dmusican commented on #5
Pull request merged. Many thanks, @shervinemami .

[2018-12-31 22:04] #5 closed

[2018-12-31 22:15] dmusican commented on #45
Thanks for catching this @DeKubus; I lost it in the big merge of the long-separate devel branch, when that happened in commit 332538e. I'll get that back in there.

[2019-01-02 16:07] dmusican commented on #45
Git status check code is now back in. Thanks again, @DeKubus. I'm closing this issue; feel free to speak up if something is still awry.

[2019-01-02 16:07] #45 closed

[2019-01-05 13:36] elnull commented on #28
Here is my solution:
https://github.com/elnull/gitwatch/commit/cfba726578eb2d13417267845bd0ae8f19322a9e
https://github.com/elnull/gitwatch/commit/540d42931d1f08d5fc2d5ad2f5c5c689c8631e9a

[2019-01-06 19:34] glensc commented on #28
@elnull send as PR perhaps

[2019-01-12 18:59] dmusican commented on #28
@elnull , thanks much for the suggested code. I've run with and made some changes, but this got me started. This is now merged into master.

[2019-01-12 18:59] #28 closed

[2019-01-22 16:58] dmusican commented on #51
Done via pull request #55, which is now merged in.

[2019-01-22 16:58] #51 closed

[2019-01-22 17:43] dmusican commented on #24
This was completed a while back: commit 332538e.

[2019-01-22 17:43] #24 closed

[2019-03-06 19:50] wccropper opened #61 "issue in gitwatch.sh shebang"
There seems to be some random characters in the shebang line

#fsw!/usr/bin/env bash

[2019-03-06 22:04] dmusican commented on #61
Wow. Fixed. Thanks!

[2019-03-06 22:04] #61 closed

[2019-06-13 14:25] przemekkot opened #65 "Why I have 3 instances of gitwatch process when I run it?"
Hi,
I run `gitwatch`(great thing, thanks) and I wanted to ask why i have 3 instances of gitwatch runnnig?

Here's my processes:

[2019-07-04 08:27] GoKael opened #66 "Command not found after input username"
got these messages if i set to bg (&)
act normal without (&)
-----
Username for 'http://gitlab.incrte.com': kaelwang
-bash: kaelwang: command not found
[1]+  Stopped                 gitwatch -r origin knewtest
-----
could anyone help me solve this problem?

[2019-07-08 13:29] dmusican commented on #66
Git is prompting you for a username, but that won't work if it's running in the background. gitwatch won't work with this setup. Easiest way to go would be to change your authentication method on gitlab to instead go with ssh keys without a passphrase. Good luck!

[2019-09-02 15:46] whyscream opened #69 "gitwatch does not stop when asked"
When I run gitwatch on the commandline, in the foreground, it works. It starts 3 `gitwatch` processes, and 1 `inotifywait` process.

When I CTRL-C, the commandline process exits correctly, but the 2 other `gitwatch` processes (and the `inotifywait` process) keep running. They also keep working, when I make a change to the watched directory, the change is commited and pushed. This also happens when

[2019-10-29 18:42] kontheocharis opened #70 "Too many commits?"
When the “remote” option is set, is there a possibility that GitHub & friends (GitLab etc.) might not like the large rate of commits happening? I use this for documents and whenever I’m working on and I can easily reach 100 or more commits in one day, some in quick succession. Is there some sort of cap or limit to pushes or is it all fine?
This might be a stupid question, but i’d just like to be s

[2019-10-29 20:49] dmusican commented on #70
Whether or not a particular site cares (GitHub, GitLab, etc) ultimately depends on their own capacity and policies. It's an important question that you ask. If you're particularly concerned, the "-s" parameter can always be set by the user to slow down the rate of commits.

So I don't have a definitive answer for you regarding specific sites. I've never personally bumped into a commit or push cap,

[2019-10-30 08:45] kontheocharis commented on #70
Okay, thanks. :)

[2019-10-30 17:46] #70 closed

[2019-11-03 12:59] raelb opened #71 "Can this be used on Windows?"

[2019-11-04 11:32] dmusican commented on #71
I don't know, I haven't tried it. It's a bash script, so it would have to run under a bash environment. If it had any chance of working, it would presumably be within [WSL.](https://docs.microsoft.com/en-us/windows/wsl/about). Try it and post results?

[2019-11-13 17:25] bentolor opened #72 "Bidirectional sync support"
This tool seems to to half of what I'm currently looking for: I want to keep a folder and a git repository sync and accept changes vice-versa.

So what I miss is a polling of a remote repository, pulling changes, merging changes besides pushing any local updates back to upstream.

Any plans for this?

[2019-11-13 17:28] bentolor commented on #72
It looks like https://github.com/simonthum/git-sync might be a better fit for my usecase, though not as clearly documented as gitwatch....

[2019-11-13 18:29] dmusican commented on #72
Alas, no plans to do this. gitwatch is designed to commit and push whenever local changes are made, rather than run on a timer-based schedule (which git-sync seems to be). Pulling can't work based on observing for changes on another machine; that would have to be timer based or some such, which would add dramatically to the complexity of gitwatch.

Agreed that git-sync looks like a great tool for

[2019-11-18 04:23] dreamerchris opened #73 "it just hangs on me"
I tried several things I will show one of them,

I have a folder that made a git inside so:

cd gitfolder
git init
git add .
git commit

then I did gitwatch gitfolder
and it just hangs there and any changes I do does get commited!

any guidance or is this project dead?

[2019-11-18 13:30] dmusican commented on #73
I just tried the above sample code, and it worked fine for me; I'm not sure what's going on. What operating system are you running?

[2019-12-11 01:49] #66 closed

[2019-12-11 01:50] #71 closed

[2019-12-12 12:18] dmusican commented on #65
This is because gitwatch uses multiple processes to do what it does. One process is where the inotifywait runs in monitor mode; another is where the git operation happens, etc. When you ctrl-c the original process, that should kill the rest.

[2019-12-12 13:18] dmusican commented on #69
I've spent a considerable amount of time on this, and unfortunately been unable to duplicate the bug as you describe. CTRL-C for me does kill the other `gitwatch` processes, as well as the `inotifywait` process, so it's hard for me to fix. I have been able to duplicate a variation on this bug where I kill the main process from the command line, which doesn't kill the remaining processes. This migh

[2019-12-12 13:18] #69 closed

[2019-12-12 13:39] dmusican opened #76 "Multiple processes is a headache, plan to revert back to single"
A while back, a notable update (#14) was made by @nevik (which I merged in from the devel branch) where instead of running gitwatch as a single non-pipelined process, multiple pipelined processes are generated. This is so that inotifywait can run in monitor mode and pipe updates to gitwatch, instead of starting up a fresh instance of inotifywait after every change. This has a number of advantages

[2019-12-12 14:41] #65 closed

[2020-04-13 19:14] juanmancebo opened #80 "Fix exclusion regex git files & directories"
When I try to add files which filename starts with .git or git inotifywait does not work.

## Environment
[code]

### Test 1(current exclusion regex)
[code]

### Test 2(proposed exclusion regex)
[code]

[2020-04-14 20:49] dmusican commented on #80
Thanks for the proposed regex fix, this looks reasonable.

Help me understand: what does the initial `/.*/` achieve? You'll get the same results you showed with the simpler:

[code]

[2020-04-15 06:09] juanmancebo commented on #80
Hi,

I just tested and the behaviour is the same with /.*/ or without it.
I had put it because when inotify reports a change appears the absolute path, so I thought was necesary to include the absolute path regex in the excluded pattern.
I just did a second commit with this change.

[2020-04-15 12:28] dmusican commented on #80
Looks good, thanks for the submission!

[2020-04-15 12:29] #80 closed

[2020-05-30 14:24] #13 closed

[2020-05-30 14:27] dmusican commented on #73
Closing this issue, as no followup.

[2020-05-30 14:27] #73 closed

[2020-05-30 14:29] dmusican commented on #20
This is over 5 years old, and I haven't a clue if this is still relevant based on updates made to inotify-win. Closing. Someone can reopen or repost if they have issues with this, and if it is still relevant with current versions of inotify-win.

[2020-05-30 14:29] #20 closed

[2020-05-30 14:35] dmusican commented on #76
I've changed my mind again, and am going to leave gitwatch where it is regarding multiple processes. It's more accurate that way, and the support requests seem to have diminished.

[2020-05-30 14:35] #76 closed

[2020-06-12 11:01] BWPanda opened #84 "Plan to make releases?"
Any plan to make 'releases' of gitwatch? This would allow people to subscribe to be notified when a new release is available, since updating seems to be a manual system currently...

[2020-06-12 18:08] dmusican commented on #84
Nice idea. What the heck, I tried it and just created a current release. I won't be doing major milestones or anything, but I'll try to get releases out when updates come. Thanks!

[2020-06-12 18:08] #84 closed

[2020-06-19 18:18] omangin commented on #72
Quick follow-up on the previous comments. Although I definitely agree that guaranteeing the repository to be synced with the remote (in case of changes on the remote) would require a much more complicated setup, there is in my opinion a valid motivation for running some form of pull before attempting a push. The reason being that this would increase the chances for the push to succeed.

A simple w

[2020-06-19 19:39] dmusican commented on #72
@omangin: I agree that your approach of making sure that a fast-forward or safe merge is possible is reasonable. I'd be happy to consider a pull-request if someone wants to code this up! (It's not something that I'm likely to personally take on, since it doesn't fit my personal use case.)

[2020-06-20 17:53] omangin commented on #72
Thanks for the answer. I looked into the question and it seems that the implementation could simply do the following (for the no branch case):
[code]
(Or use `$GIT config --get pull.rebase` to differentiate between both.)

However there is one side effect to this that I did not consider earlier which is that it would change the state of the repository in the background, potentially going through a

[2020-06-22 21:46] dmusican commented on #72
I agree that the above solution, while simple, is likely to cause conflicts and be a support headache. You're talking me back into my original perspective that this isn't really the right direction for gitwatch, but might be great for a different tool.

[2020-07-14 08:52] aisbaa opened #85 "gitwatch consumes a lot of /dev/pts"
We started noticing issues related to `/dev/pts` consumption. Which results in users not being able to launch new shell.

Users reported that shell is not created when they ssh into devserver:

[code]

Also vscode remote fails to start new shell:

[code]

We did a little investigation and it found that gitwatch forks a lot and each fork creates a new `dev/pts/X`:

[code]

Is there solution to miti

[2020-07-14 12:19] dmusican commented on #85
I've abandoned the single process implementation, though I still might move back to it if this approach causes enough problems. I'm not seeing this same behavior, though, when I try it: for me, gitwatch launches multiple process, but I'm not seeing the clogup that you are. Can you clarify what operating system you're running on, and what "git.real" is? Also, it only forks a few times, perhaps your

[2020-07-14 17:28] aisbaa commented on #85
Sorry, my mistake. I've assumed that we are using this tool, while in reality we are using internal tool that has exactly the same name 🤦 .

[2020-07-14 17:28] #85 closed

[2020-10-27 13:54] hekcyc opened #87 "Suggestion"
You should make for the users can download git file when it changes

[2020-10-27 15:31] dmusican commented on #87
I'm not sure I understand what this means. Can you clarify?

[2020-10-28 12:20] leex279 opened #88 "Merge Conflicts"
At the moment I cannot see an option to tell the script how to deal with merge conflicts. It just crashes.

Would be nice if there where a possibility to (at least) tell that the server always wins or the remote:

https://git-scm.com/docs/merge-strategies

[2020-11-28 06:47] Gahamelas opened #89 "Deletion of gitwatch folder at ~/"
Great tool! Once I have installed the tool, can I delete the ~/gitwatch folder? I suppose the tool at /usr/local/bin/ is all what is needed. Sorry for the newbie question. Thanks!

[2020-11-29 15:29] dmusican commented on #89
Sure, if you like.

[2020-11-29 15:29] #89 closed

[2020-11-29 20:45] iburunat opened #90 "Running gitwatch for a time frame"
Excellent tool. I'm thinking of setting a `cron` job to run `gitwatch`, but I wonder if it is possible to run it for a time frame (rather than forever :).

[2020-11-30 14:14] dmusican commented on #90
Not built into the tool; you'd have to build something external to handle that.

[2020-11-30 14:14] #90 closed

[2020-12-06 11:36] sharingtom commented on #72
Hi,

I have a similar use case as @bentolor, but I have both the bare repo (A) and the other repo (B) on the same system.

What I'm thinking about it adding a [post-receive hook](https://git-scm.com/docs/githooks#post-receive) to repo A, with a shell script that makes repo B pull from origin (repo A).

Would it work with gitwatch out-of-the-box?

Files changing in repo B would trigger gitwatch, bu

[2020-12-06 14:22] dmusican commented on #72
Perhaps try it and let us know how it works? :) I don't see any particular reason it shouldn't work, except for a vague sense that it looks brittle if something gets miscommunicated. Having them on the same system as you do should reduce the likelihood fo that.

[2020-12-06 20:11] sharingtom commented on #72
Alright :) it does seem to work in my initial testing. As far as I can tell gitwatch does not even react to the pull initiated by the hook in the other (bare) repo. I’m sure I can make it silently fail in some way I haven’t thought about yet, but so far so good.

Thank you for making this script!

[2020-12-07 12:54] #72 closed

[2020-12-15 02:42] 247a commented on #87
So if @hekcyc is meaning what i think they are it is the same feature that i was going to raise.

That is that is looking at the code the code only `git push` commits.
However if you have two machines which share the same folder and repo, there would be no automatic retrival of updates from the other machine, hence the two machines would fall out of sync.
Such it may be an idea to run git fetch ev

[2020-12-15 14:26] dmusican commented on #87
I believe this is the same issue raised in issue #72; take a look and repost here if I've misunderstood and if this is asking for something different. Thanks!

[2020-12-15 15:04] 247a commented on #87
Ah yes, i belive it is also, and also thank you for pointing me to the thing which fits my use case a little better :) . So unless @hekcyc ment for something else then I think this ticket can be closed :) .

[2020-12-15 15:31] #87 closed

[2020-12-23 06:10] bestwebsite opened #93 "Unable to run gitwatch as a service (on aws bitnami instance)"
I am able to run gitwatch in background when terminal is open and when i close it gitwatch getting stopped and i am not sure to make it work, i tried the steps given for ubuntu systemd, but its giving me the following error,

`bitnami@ip-*-*-*-*:/usr/bin$ mkdir -p "$HOME/.config/systemd/user" && cp gitwatch@.service $HOME/.config/systemd/user`
`cp: cannot stat 'gitwatch@.service': No such file or

[2020-12-23 14:43] dmusican commented on #93
I don't use gitwatch as a service myself (I just run it in the background), so I haven't played with this much; this was functionality added by others in the community. Sorry I can't be of more help! It would be great if someone else could jump in.

[2020-12-23 14:56] raveinid commented on #93
How are you adding gitwatch to the image? Where is it located? There error
you are getting is a file not found. Y can't copy something that is not in
/usr/bin/

On Wed, Dec 23, 2020, 6:44 AM Dave Musicant <notifications@github.com>
wrote:

[2020-12-23 15:59] bestwebsite commented on #93
@raveinid - file exist in /usr/bin/

however i found alternative way to run gitwatch in background  using `disown`

Thank you all for your help and thoughts.

[2020-12-23 15:59] #93 closed

[2021-01-16 00:39] Randrianasulu opened #94 "Having warning in usage about .gitignore in big folders will be ncie to have"
I tried (with some success) to use this script  for backing up settings and projects created by Cinelerra-GG (Linux non-linear video editor). Settings were all small and easy to put in git.

But when I tried to use  gitwatch on big folder with both projects (*.xml) and media files (big mp4s) it tried by default to check in everything (obviously ...if you are git user). I put gitignore in my folder

[2021-01-16 12:34] dmusican commented on #94
Thanks, and done: see "usage" section in the readme.

[2021-01-16 12:34] #94 closed

[2021-02-27 23:18] harleypig opened #95 "Would you be willing to accept a pull request that ran the code through shellcheck?"
Like it says in the title ... would you be willing to accept a pull request that ran the code through [shellcheck](https://shellcheck.net)?

And possibly formatted through [shfmt](https://github.com/mvdan/sh)?

[2021-03-01 14:28] dmusican commented on #95
Possibly. Do you mean that you wish to modify the automated testing to run it through shellcheck, or do you mean that you wish to improve the code based on what shellcheck tells you (or both)?

[2021-03-03 10:51] harleypig commented on #95
Just run the code through shellcheck and make modifications based on what it suggests. But existing tests would still have to pass.

[2021-03-03 14:06] dmusican commented on #95
Sure, sounds good. This will likely result in a lot of changes; it wouldn't surprise me if it touches nearly every line in the script (especially if you include shfmt). I'd appreciate it if you could break up the commits at least somewhat into coherent changes; maybe a section of the script at a time, or a particular set of changes at a time (as you might need to change a variable in some way that

[2021-03-04 14:35] harleypig commented on #95
I didn't run it through shfmt ... it occurred to me I should get your requirements on which switches to use.

[2021-03-04 14:36] harleypig commented on #95
I didn't break it up because there were so few changes ... I was kind of surprised actually.

[2021-03-05 19:24] dmusican commented on #95
Thanks much for the shellcheck updates.

I'll admit that I'm inexperienced with shfmt. Do you care to offer some recommendations on which switches to use?

[2021-03-05 19:46] harleypig commented on #95
Formatting (for any language) is as hotly debated vim/emacs. What I can tell you is what the switches do.

- `-s` simplifies the code (does some automatic fixes--I would recommend doing this as a separate pr, though I don't think there will be too many changes).
- `-i #` 0: uses tabs for indenting, >0: that many spaces for indenting. My personal preference is 2, but 4 is common.
- `-bn` Allows for

[2021-03-05 20:30] dmusican commented on #95
Thanks. It helps that I'm not heavy bash scripter myself --- I inherited the project --- hence my lack of strong opinions. I think the only thing in that list that I care vehemently about is having spaces for indenting instead of tabs, which you've got. Indenting by two characters is fine. So I'd run with your usual values.

[2021-03-06 15:35] harleypig commented on #12
I would argue that this is not really an issue for a bash script.

I would also push to change the calls to sed to use parameter expansion.

So, e.g, the lines that determine TARGETDIR using sed should be replaced with something like `TARGETDIR="${IN%/}"` (equivalent to `dirname`)and `TARGETDIR="${IN%/*}"` (equivalent to `basename`).

[2021-03-06 15:47] harleypig commented on #88
The only options a merge strategy can be used is with a `merge` or a `pull`, neither of which is performed in `gitwatch.sh`.

What conditions are you seeing where gitwatch crashes?

[2021-03-06 17:14] harleypig commented on #9
I would argue that this is outside the scope of this package. The user should be maintaining their repository in such a way this isn't a problem.

[2021-03-06 21:07] dmusican commented on #12
@harleypig , if you'd like to take this on, that would be fabulous.

[2021-03-06 21:07] #95 closed

[2021-03-07 02:44] harleypig commented on #12
Sure. But I'd like to tackle tests next. Creating an issue for that. :)

[2021-03-07 03:08] harleypig opened #99 "Update tests to use bats-core"
The tests are based on the [original bats](https://github.com/sstephenson/bats) but that version is no longer maintained.

I'd like to update these tests, and add some fail tests using the [new bats](https://github.com/bats-core/bats-core), and using the libraries that are used there.

This would require any submitter to have bats-core and its plugins installed.

It might also require a change to

[2021-03-07 16:52] dmusican commented on #99
This would be fabulous, go ahead. Making appropriate changes to the GitHub Actions setup would be fine.

I really appreciate all the work that you're doing on the project. How did you land here -- are you a gitwatch user?

[2021-03-07 17:17] harleypig commented on #99
:) I've been a gitwatch user for a few months ... I use it with a vimwiki/gollum setup. I also maintain and 'improve' a large number of legacy bash scripts for $job. I've kind of gotten hooked on bash scripts.

[2021-03-08 12:55] dmusican commented on #99
Nice, I'm glad to hear you're making good use of it. I'm especially glad to have you here because I do plenty of coding in other languages, but bash scripting is not my area of expertise. I took on this project (#40) when the original author stepped away..

[2021-11-17 12:20] MartinEtcheverry opened #101 "can be added , commit and push option?"
will be nice have a "commit and push" option to push to remote.

[2021-11-17 12:37] dmusican commented on #101
Can you clarify how would this be different from the "-r" option?

[2022-01-04 07:50] zorrzoor commented on #88
I would be nice to be able to have `gitwatch.sh` to do a pull from remote before a commit.

We sometimes have a usecase where the remote repo could be updated from more than one place.
This means that when the remote has changed `gitwatch` no longer can `push` a commit.

[2022-03-11 06:57] chmac opened #103 "Open to adding a delay option?"
This might sound crazy, and it might increase the complexity of the script, so I can completely understand if your answer is no.

I'm looking for an auto commit option but only after a file has been untouched for maybe 30 minutes.

Why? My workflow is that I manage some notebooks in git. I usually commit and manually push them. Sometimes I write meaningful commit messages. But, and here's the kick

[2022-03-11 07:16] chmac opened #104 "Consider adding GitHub topics?"
I found this repo through [this post](https://safjan.com/git-autocommit-on-file-changes/) although I did try searching GitHub for scripts like this. I wonder if you'd be open to adding some GitHub topics to the repo? Maybe `git`, `autocommit`, something else? Might help other folks find the repo more easily. 🧡

[2022-03-11 12:30] dmusican commented on #104
Done, thanks for the idea. I'm happy to add more if you have other suggestions.

[2022-03-11 12:30] #104 closed

[2022-03-11 12:35] dmusican commented on #103
Thanks for the idea! I think I'm confused, and am looking for clarification. If the file is untouched (for 30 minutes), then there have been no changes to it, and there's nothing to commit.

Based on your use case, I think maybe you mean that you want a script that does not regularly autocommit changes at all. However, if a change has been made and 30 minutes has passed, and that change has still

[2022-03-11 20:24] chmac commented on #103
Yes, that's exactly what I'm thinking.

If there's changes to the file every 5 minutes then it would never get committed.

The use case is when I forget to commit, I want something to commit and push my changes so that 30 minutes after I leave my computer I can always be sure that the latest changes are pushed. My ideal situation would be that 30 minutes after the very last change to the repositor

[2022-03-11 22:57] dmusican commented on #103
Understood. Implementing this would be... messy. Doable, but messy. Gitwatch leverages inotifywait, so that it triggers whenever a file changes, and when that happens, then it commits and pushes. So everything is currently structured around doing nothing unless a file change event happens. This update would instead have to somehow push a background process, or something, that would wait 30 minutes

[2022-03-13 18:48] chmac commented on #103
@dmusican Totally understandable. I realised today that what I'm looking for is a "dead man switch commit". That explains the concept I think, and I can really understand that it's outside the scope of what gitwatch does. I've started working on a [prototype in deno and TypeScript](https://github.com/GenerousLabs/dead-man-commit), and it looks like it might be good enough for my own use at least.

[2022-03-13 18:48] #103 closed

[2022-04-18 05:49] leoshimo opened #106 "Option to skip commit if repo has ongoing merge"
Curious if there is an appetite for preventing commits if there is an ongoing merge. I have a fork that has this feature for my own use. Perhaps it'll be useful if it's gated under an option.

[2022-04-18 12:18] dmusican commented on #106
Sure! This sounds entirely reasonable. If you've already got this done in a fork, would you be willing to submit a pull request?

[2022-06-13 18:47] garyo opened #109 "Allow spaces in target dir"
Currently, at least on Mac with fswatch, gitwatch fails to notice changes when the target dir has a space. This is because it's passed to `eval` which passes it to `fswatch` as multiple args.

This simple change fixes it for me, on line 209:
        INW_ARGS=("--recursive" "$EVENTS" "--exclude" "'(\.git/|\.git$)'" "\"$TARGETDIR\"")
i.e. add another layer of quoting around $TARGETDIR.

[2022-06-13 20:10] dmusican commented on #109
Interesting. `eval` appeared in PR #91 because of a different Mac related bug. I'm not a Mac user myself, so I'll leave this bug open and would love a PR to fix it... but remove the -E (as the above fix suggests) would reintroduce the bug fixed in #91.